*~
*.[oa]
*.mod
\#*\#
TAGS
LISTOBJ
git_version.h
mpif.h
!src/include/mpif.h

# ignore anything in directories with executables
Release/
bin/
builds/
lib/

#ignore local files and directories
*.local
*.local/
