*~
*.[oa]
*.mod
*__genmod.f90
\#*\#
TAGS
LISTOBJ
git_version.h
git_version_*.h
mpif.h
!src/include/mpif.h
src/catalyst/*.#*

# ignore anything in directories with executables
Release/
bin/
builds/
lib/

# ignore local files and directories
*.local
*.local/

# ignore local backup copies
*.orig

# ignore local files created by scripts
grep.lis

# genmod
*__genmod*
